html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Important for consistent box model */
}
*,
*::before,
*::after {
    box-sizing: inherit; /* Elements will inherit box-sizing from their parent */
}
html {
    font-size: 16px; /* Base font size */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    font-size: 1rem; /* Equivalent to 16px */
    line-height: 1.6; /* For readability */
}

h1 {
    font-size: 2.5rem; /* 2.5 * 16px = 40px */
    margin-bottom: 0.5em; /* Relative to H1's font size */
}

h2 {
    font-size: 2rem; /* 2 * 16px = 32px */
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5rem; /* 1.5 * 16px = 24px */
}

p {
    font-size: 1rem; /* 1 * 16px = 16px */
}

 .main-container {
 width: 90%;
 height: 30vh;
 margin: auto;
 padding: 1rem;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 header {
 text-align: center;
 margin-bottom: 1.5rem;
 }

 .users-list li {
 padding: 1rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
 
 }

 .actions {
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px  auto;

    position: sticky;
    top: 0;
    z-index: 10;
    background-color: transparent;
 }

.actions button {
 padding: 0.5rem 1rem;
 margin: 0.5rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s ease;
 border: solid 2px burlywood;

 }
 .actions button:hover {
 background-color: brown;
 color: aqua;
 }

 .user{
     border: 1px solid #ccc;
 padding: 10px;
 margin: 10px;
 border-radius: 5px;
    display: flex;
    flex-direction: row;
    width: 23%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
 }
   .users-list li img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.user-name, 
.user-email,
.user-location,
.wealth{
width: 100%;
display: flex;
flex-wrap: wrap;
padding: 2px 6px;
margin: 4px;
transition: all .2s ease-in-out;

}
.user-name{
    font-size: 1em;
}
.user-name:hover, 
.user-email:hover,
.user-location:hover,
.wealth:hover{
    background-color: darkolivegreen;
    color: yellow;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.users-list{
width: 90vw;
 margin: 20px auto;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 height: fit-content;
 overflow-y: scroll;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
  padding: 1rem;
}
label{
    font-weight: bold;
    color: darkviolet;
}